<div class="subject">
    <div class="table-head">
        <h2>Ֆակուլտետ` <b>{{group.faculty}}, Խումբ` {{group.name}}</b></h2>
    </div>
</div>

<div class="table_part">
    <div style="widdiv:100%; overflow:hidden">

        <div  class="first-section">
            <div class="rotate">
                <div class="journalMark">
                    <b>#</b>
                </div>
            </div>
            <div class="rotate">
                <div class="journalMembor names-srn">
                    <b>ԱԱՀ</b>
                </div>
            </div>
            {{#each subjects}}
                <div class="rotate">
                    <div class="journalHead">
                        {{name}}
                        <br>Credit` {{credit_1}}
                    </div>
                </div>
            {{/each}}
            <div class="rotate">
                <div class="journalHead">
                    MOG
                </div>
            </div>
        </div>
        <section class="second-section">
            <div>

                {{#each examsMarks}}
                    <div class="subject-marks-{{inc @index}}">
                        <form action="/groups/exams-marks/{{../groupId}}/{{_id}}" method="POST" class="st-id">
                            <input type="hidden" value="{{subject_id._id}}" name="subject_id">
                            <input type="hidden" value="{{subject_id.credit_1}}" class="credit">
                            {{#each students_marks}}
                                    <section>
                                        <div class="journalMark">
                                            <input type="hidden" value="{{_id}}" name="_id">
                                            <input type="hidden" value="{{student_id}}" name="student_id">
                                            <input type="text" value="{{mark}}" name="mark" class="mark">
                                        </div>
                                    </section>
                            {{/each}}
                            <input type="submit" value="+" class="sub" />
                        </form>
                    </div>
                {{/each}}

                <div class="mogs">
                    {{!-- <input type="hidden" value="{{subject.credit_1}}" class="credit">
                    <input type="hidden" value="{{subject.credit_2}}" class="credit"> --}}
                </div>
                   <button class="calcMog" > Calculate MOG </button>
            </div>
   
            <div class="student-list" >
            {{#each students}}    
                <div class="names-numbers">
                    <div>
                        <div class="journalMark">
                            {{inc @index}}
                        </div>
                    </div>
                    <div class="names">
                        <input type="hidden" value="{{_id}}">
                        {{fullName}}
                    </div>       
                </div>
            {{/each}}
            </div>
        </section>
    </div>
    
</div>