<div class="subject">
    <div class="table-head">
        <h2>Խմբեր</h2>
        <a class="btn btn-small" href="/groups/create">Ավելացնել խումբ</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Խմբի անուն</th>
            <th scope="col">Ֆակուլտետ</th>
            <th scope="col">Կուրս</th>
            <th scope="col">Մատյան</th>
            <th scope="col">Ուսանողներ</th>
            <th scope="col">Գործողություններ</th>
        </tr>
        </thead>
        <tbody>
        {{#each groups}}
            <form action="groups/delete/{{_id}}" method="GET">
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td><a class="btn btn-small" href="/groups/{{_id}}">{{name}}</a></td>
                    <td>{{faculty}}</td>
                    <td>{{course}}</td>
                    <td><a href="/groups/subjects/{{_id}}">Մատյան</a></td>
                    <td><a href="/groups/students/{{_id}}">Ուսանողներ ({{students_count}})</a></td>
                    <td>
                        <button class="btn btn-small" type="submit">Ջնջել</button>
                    </td>
                </tr>
            </form>
        {{/each}}
        </tbody>
    </table>
</div>

