<div class="subject">
    <div class="table-head">
        <h2>Գնահատականներ</h2>
        <a class="btn btn-small" href="/marks/create">Ավելացնել թեմա</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Առարկա</th>
            <th scope="col">Թեմա</th>
            <th scope="col">Խումբ</th>
            <th scope="col">Ուսանող</th>
            <th scope="col">Գնահատական</th>
            <th scope="col">Բացակայություն</th>
            <th scope="col">Գործողություններ</th>
        </tr>
        </thead>
        <tbody>
        {{#each marks}}
            <form action="marks/delete/{{_id}}" method="GET">
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{topic}}</td>
                    <td>{{type}}</td>
                    <td>{{date}}</td>
                    <td>
                        <a class="btn btn-small" href="/marks/update/{{_id}}">Փոփոխել</a>
                        <button class="btn btn-small" type="submit">Ջնջել</button>
                    </td>
                </tr>
            </form>
        {{/each}}
        </tbody>
    </table>
</div>

