<div class="subject">
    <div class="table-head">
        <h2>խումբ՝ {{group.name}}</h2>
        <h3>Առարկաներ ({{count}})</h3>
        <a class="btn-small" href="/groups/subjects/create/{{group._id}}">Ավելացնել առարկա</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Առարկայի անվանում</th>
            <th scope="col">Credit 1 kisamyak</th>
            <th scope="col">Credit 2 kisamyak</th>
            <th scope="col">Դասախոս</th>
            <th scope="col">Թեմաներ</th>
            <th scope="col">Գործողություններ</th>
        </tr>
        </thead>
        <tbody>
        {{#each subjects}}
            <form action="subjects/delete/{{_id}}" method="GET">
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td><a href="/groups/subjects/{{../group._id}}/{{_id}}">{{name}}</a></td>
                    <td>{{credit_1}}</td>
                    <td>{{credit_2}}</td>
                    <td>{{lecturer.fullName}}</td>
                    <td><a href="/subjects/progress/{{_id}}">Առաջադիմություն</a></td>
                    <td>
                        <a href="/subjects/lessons/{{_id}}">Թեմաներ ({{lessons_count}})</a>
                    </td>
                    <td>
                        <button class="btn-small" type="submit">Ջնջել</button>
                    </td>
                </tr>
            </form>
        {{/each}}
        </tbody>
    </table>
</div>

