<div class="row">
    <form action="/subjects/lessons/{{subject._id}}/{{lesson._id}}" method="POST" class="col s12">
        <h2>{{subject.name}} - {{lesson.topic}}</h2>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="topic" value="{{lesson.topic}}">
                <label>Թեմա</label>
            </div>

            <div class="input-field col s6">
                <input type="text" name="type" value="{{lesson.type}}">
                <label>Տեսակը</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="date" name="date" value="{{lesson.date}}">
                <label>Ամսաթիվ</label>
            </div>
        </div>

        <div class="btn-padding">
            <button type="submit" class="btn">Փոփոխել</button>
        </div>
    </form>
</div>

